body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../assets/memphis.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;;
}

h2 {
    color: white;
    margin: 0;
    font-size: 30px;
}

p {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

img {
    width: 200px;
    height: 200px;
    margin: 0px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-container {
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 300px;
    background-color: rgb(53, 58, 64);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    background-color: #406792;
    cursor: pointer;
    transition: 0.2s all;
}

.submit-btn:hover {
    background-color: #305080;
}

#show {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}