.content {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 20px;
    padding-top: 130px;
    height: max-content;
}

.content div {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    height: auto;
}

.pages {
    width: 15%;
    height: 100vh;
}

.main {
    width: 80%;
    height: 100vh;
}

#file-viewer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    max-height: 65vh;
    overflow-y: auto
}

#file {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#file p {
    font-size: 18px;
    background-color: transparent;
}

#content-box {
    align-content: center;
    justify-items: center;
    background-color: #d0d0d0;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all;
}

#content-box:hover {
    background-color: #c0c0c0;
}

#content-box div {
    font-size: 50px;
    background-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}